<header class="header">
  <div class="header__container">
    <div class="header__wrap">
      <a href="index.html" class="header__link-logo"><img class="header__img-logo" src="@img/gallery/logo.webp"
          alt="Logotype"></a>
      <nav class="header__nav">
        <div class="header__burger-close">
        </div>
        <ul class="header__list">
          <li class="header__item">
            <a href="about.html" class="header__item-link">Про компанію</a>
          </li>
          <li class="header__item">
            <a href="network.html" class="header__item-link">Мережа СТЦ</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__item-link">Інтернет-магазин</a>
          </li>
          <li class="header__item">
            <a href="promise.html" class="header__item-link">Готові рішення для СТО</a>
          </li>
          <li class="header__item">
            <a href="contacts.html" class="header__item-link">Контакти</a>
          </li>
        </ul>
      </nav>
      <div class="header__burger-wrap">
        <div class="header__burger">
          <span class="header__burger-element"></span>
        </div>
      </div>
      <p class="header__par">Restart — Ваша зона автокомфорту</p>
    </div>
  </div>
</header>